<!DOCTYPE html>
<html>

<head>
    <title>
        CID | Accueil
    </title>
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/accueil.css">

</head>

<body class="white">
    <div id="top"></div>
    <div id="fond" class="d-flex flex-column justify-content-center align-items-center fond">
        <div class="bg-dark p-4 mb-4">
            <img src="/images/logo/logoCidBlanc.png" alt="" class="rot">
        </div>
        <div>
            <h5 class="mont">Chargement ...</h5>
        </div>
    </div>
    <%- include baniere -%>
    <div class="col-12" id="page">
        <div class="row">
            <div class="col-12">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <%- include presentation -%>
                </div>
            </div>
            <div class="col-12">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <%- include responsables -%>
                </div>
            </div>
            <div class="col-12 bg-light monte">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <%- include objectifs -%>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <%- include startup -%>
            </div>
            <div class="col-12 black-text" id="voirClubs">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <%- include clubs -%>
                </div>
            </div>
            <div class="col-12 bg-light monte" style="overflow: hidden;">
                <i class="mdi-action-language fa-10x"
                    style="font-size: 500px; transform: rotate(45deg); opacity: 0.1; position: absolute; top: -8.5cm; right: -6cm;"></i>
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <%- include projets -%>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <%- include footer -%>
                </div>
            </div>
        </div>

    </div>
    <%- include alert -%>

    <%- include ../script -%>
    <script src="/js/accueil.js"></script>
</body>


</html>