<!DOCTYPE html>
<html>

<head>
    <title>
        CID | Inscription
    </title>
    <meta name="theme-color" content="white">
    <%- include ../../head -%>
    <link rel="stylesheet" href="/stylesheet/inscription.css">
</head>
<style>

</style>

<body class="white">
    <div id="fond" class="d-flex flex-column justify-content-center align-items-center fond">
        <div class="navbar-brand bg-dark p-4 mb-4">
            <img src="/images/logo/logoCidBlanc.png" alt="" class="rot">
        </div>
        <div>
            <h5 class="mont">Chargement ...</h5>
        </div>
    </div>
    <div id="demande" class="d-flex justify-content-center align-items-center fond">
        <div class="spinner-border mr-4" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        Demande en cours ...
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white position-fixed fixed-top ui-shadow">
        <a class="navbar-brand" href="/">
            <%= logo %>
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Etudiant : Proposer un Projet innovant
                        <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-12 mt-5 align-self-center" id="page">
        <div class="" ng-app="myapp">
            <div class="row">
                <div class="col-12 brown darken-4 white-text" id="voir">
                    <div class="col-8 offset-2 p-5">
                        <h3>Identifiez - Vous</h3>
                        <h6>Renseigner des informations vous concernant</h6>
                    </div>
                </div>
                <%- include('infosPersonnel') -%>
                <div class="col-12 cyan darken-4 white-text" id="voir">
                    <div class="col-8 offset-2 p-5">
                        <h3>Renseignez votre projet</h3>
                        <h6>Renseigner des informations concernant votre projet
                        </h6>
                    </div>
                </div>
                <%- include('infosProjet') -%>
                <div class="col-12 grey darken-4 white-text" id="voir">
                    <div class="col-8 offset-2 p-5">
                        <h3>Auto-Critique</h3>
                        <h6>Juger vous - meme votre projet</h6>
                    </div>
                </div>
                <%- include('autoCritique') -%>

            </div>
        </div>

    </div>

    <%- include ../../script -%>
    <script src="/js/accueil.js"></script>
    <script src="/js/app.js"></script>
    <script>
        $('#demande').hide()
        $('#valider').click((e) => {
            e.preventDefault()
            if (confirm("Voulez-vous vraiment valider ce formulaire")) {
                $('#demande').css({
                    'visibility': 'visible'
                })
                var d = new Date()
                socket.emit('newReq',
                    //informations personnelles
                    [
                        $('#nom').val(),
                        $('#prenoms').val(),
                        $('#dateNaissance').val(),
                        $('#classe').val(),
                        $('#adresse').val(),
                        $('#mail').val(),
                        $('#contact').val()
                    ],

                    //identification du projet
                    [
                        $('#nomProjet').val(),
                        $('#categorie').val(),
                        $('#problematique').val(),
                        $('#cible').val(),
                        $('#description').val(),
                        parseInt($('#delai').val()),
                        parseInt($('#budget').val()),
                        $('#etatProjet').val(),



                        //auto critique
                        parseInt($('#pertinence').val()),
                        parseInt($('#accessibilite').val()),
                        parseInt($('#motivation').val()),
                        parseInt($('#innovation').val()),
                        d.getFullYear() + "-" + d.getMonth() + "-" + d.getDay() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()

                    ]
                )
            }
        })
    </script>
</body>


</html>